:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-tagline: var(--vp-c-text-2);
  --vp-home-hero-text: var(--vp-c-text-1);
  --vp-c-brand-prev: #00a98e;
  --vp-c-brand-dark: #008269;
  --vp-c-brand-darker: #005d47;
  --vp-c-brand-next: #009ff7;
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-brand-prev) 30%,
    var(--vp-c-brand-next)
  );
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--vp-c-brand-prev) 30%,
    var(--vp-c-brand-next)
  );

  --vp-home-hero-image-filter: blur(44px);
  animation: rainbow 40s linear infinite;
}

@keyframes rainbow {
  0% {
    --vp-c-brand-prev: #00a98e;
    --vp-c-brand-dark: #008269;
    --vp-c-brand-darker: #005d47;
    --vp-c-brand-next: #009ff7;
  }

  1.25% {
    --vp-c-brand-prev: #00a996;
    --vp-c-brand-dark: #008371;
    --vp-c-brand-darker: #005e4f;
    --vp-c-brand-next: #009dfa;
  }

  2.5% {
    --vp-c-brand-prev: #00a99f;
    --vp-c-brand-dark: #00837a;
    --vp-c-brand-darker: #005e56;
    --vp-c-brand-next: #009bfc;
  }

  3.75% {
    --vp-c-brand-prev: #00a9a7;
    --vp-c-brand-dark: #008382;
    --vp-c-brand-darker: #005e5e;
    --vp-c-brand-next: #0098fd;
  }

  5% {
    --vp-c-brand-prev: #00a9b0;
    --vp-c-brand-dark: #00838a;
    --vp-c-brand-darker: #005e65;
    --vp-c-brand-next: #0096fd;
  }

  6.25% {
    --vp-c-brand-prev: #00a9b8;
    --vp-c-brand-dark: #008391;
    --vp-c-brand-darker: #005e6d;
    --vp-c-brand-next: #0093fd;
  }

  7.5% {
    --vp-c-brand-prev: #00a9c0;
    --vp-c-brand-dark: #008399;
    --vp-c-brand-darker: #005e74;
    --vp-c-brand-next: #2e90fc;
  }

  8.75% {
    --vp-c-brand-prev: #00a8c7;
    --vp-c-brand-dark: #0082a0;
    --vp-c-brand-darker: #005e7b;
    --vp-c-brand-next: #4d8dfa;
  }

  10% {
    --vp-c-brand-prev: #00a8cf;
    --vp-c-brand-dark: #0082a7;
    --vp-c-brand-darker: #005e81;
    --vp-c-brand-next: #638af8;
  }

  11.25% {
    --vp-c-brand-prev: #00a7d5;
    --vp-c-brand-dark: #0081ae;
    --vp-c-brand-darker: #005d87;
    --vp-c-brand-next: #7587f5;
  }

  12.5% {
    --vp-c-brand-prev: #00a6dc;
    --vp-c-brand-dark: #0081b4;
    --vp-c-brand-darker: #005d8d;
    --vp-c-brand-next: #8583f1;
  }

  13.75% {
    --vp-c-brand-prev: #00a6e2;
    --vp-c-brand-dark: #0080b9;
    --vp-c-brand-darker: #005c93;
    --vp-c-brand-next: #9280ed;
  }

  15% {
    --vp-c-brand-prev: #00a4e7;
    --vp-c-brand-dark: #007fbf;
    --vp-c-brand-darker: #005b98;
    --vp-c-brand-next: #9f7ce9;
  }

  16.25% {
    --vp-c-brand-prev: #00a3ec;
    --vp-c-brand-dark: #007ec3;
    --vp-c-brand-darker: #005b9c;
    --vp-c-brand-next: #aa78e3;
  }

  17.5% {
    --vp-c-brand-prev: #00a2f1;
    --vp-c-brand-dark: #007dc8;
    --vp-c-brand-darker: #0059a0;
    --vp-c-brand-next: #b574dd;
  }

  18.75% {
    --vp-c-brand-prev: #00a0f4;
    --vp-c-brand-dark: #007bcb;
    --vp-c-brand-darker: #0058a3;
    --vp-c-brand-next: #be71d7;
  }

  20% {
    --vp-c-brand-prev: #009ff7;
    --vp-c-brand-dark: #007ace;
    --vp-c-brand-darker: #0057a6;
    --vp-c-brand-next: #c76dd1;
  }

  21.25% {
    --vp-c-brand-prev: #009dfa;
    --vp-c-brand-dark: #0078d0;
    --vp-c-brand-darker: #0055a8;
    --vp-c-brand-next: #cf69c9;
  }

  22.5% {
    --vp-c-brand-prev: #009bfc;
    --vp-c-brand-dark: #0076d2;
    --vp-c-brand-darker: #0053aa;
    --vp-c-brand-next: #d566c2;
  }

  23.75% {
    --vp-c-brand-prev: #0098fd;
    --vp-c-brand-dark: #0074d3;
    --vp-c-brand-darker: #0051ab;
    --vp-c-brand-next: #dc63ba;
  }

  25% {
    --vp-c-brand-prev: #0096fd;
    --vp-c-brand-dark: #0071d4;
    --vp-c-brand-darker: #004fab;
    --vp-c-brand-next: #e160b3;
  }

  26.25% {
    --vp-c-brand-prev: #0093fd;
    --vp-c-brand-dark: #006fd3;
    --vp-c-brand-darker: #004dab;
    --vp-c-brand-next: #e65eab;
  }

  27.5% {
    --vp-c-brand-prev: #2e90fc;
    --vp-c-brand-dark: #006cd2;
    --vp-c-brand-darker: #004baa;
    --vp-c-brand-next: #e95ca2;
  }

  28.75% {
    --vp-c-brand-prev: #4d8dfa;
    --vp-c-brand-dark: #0069d1;
    --vp-c-brand-darker: #0048a9;
    --vp-c-brand-next: #ed5a9a;
  }

  30% {
    --vp-c-brand-prev: #638af8;
    --vp-c-brand-dark: #3066cf;
    --vp-c-brand-darker: #0045a7;
    --vp-c-brand-next: #ef5992;
  }

  31.25% {
    --vp-c-brand-prev: #7587f5;
    --vp-c-brand-dark: #4963cc;
    --vp-c-brand-darker: #0941a4;
    --vp-c-brand-next: #f15989;
  }

  32.5% {
    --vp-c-brand-prev: #8583f1;
    --vp-c-brand-dark: #5b5fc8;
    --vp-c-brand-darker: #2e3ea1;
    --vp-c-brand-next: #f25981;
  }

  33.75% {
    --vp-c-brand-prev: #9280ed;
    --vp-c-brand-dark: #6a5cc4;
    --vp-c-brand-darker: #413a9d;
    --vp-c-brand-next: #f25a79;
  }

  35% {
    --vp-c-brand-prev: #9f7ce9;
    --vp-c-brand-dark: #7758c0;
    --vp-c-brand-darker: #503598;
    --vp-c-brand-next: #f25c71;
  }

  36.25% {
    --vp-c-brand-prev: #aa78e3;
    --vp-c-brand-dark: #8354bb;
    --vp-c-brand-darker: #5c3193;
    --vp-c-brand-next: #f15e69;
  }

  37.5% {
    --vp-c-brand-prev: #b574dd;
    --vp-c-brand-dark: #8d50b5;
    --vp-c-brand-darker: #662c8e;
    --vp-c-brand-next: #ef6061;
  }

  38.75% {
    --vp-c-brand-prev: #be71d7;
    --vp-c-brand-dark: #964baf;
    --vp-c-brand-darker: #6f2688;
    --vp-c-brand-next: #ed635a;
  }

  40% {
    --vp-c-brand-prev: #c76dd1;
    --vp-c-brand-dark: #9e47a9;
    --vp-c-brand-darker: #772082;
    --vp-c-brand-next: #eb6552;
  }

  41.25% {
    --vp-c-brand-prev: #cf69c9;
    --vp-c-brand-dark: #a643a2;
    --vp-c-brand-darker: #7e197c;
    --vp-c-brand-next: #e8694b;
  }

  42.5% {
    --vp-c-brand-prev: #d566c2;
    --vp-c-brand-dark: #ac3f9b;
    --vp-c-brand-darker: #841075;
    --vp-c-brand-next: #e46c44;
  }

  43.75% {
    --vp-c-brand-prev: #dc63ba;
    --vp-c-brand-dark: #b23b94;
    --vp-c-brand-darker: #89046f;
    --vp-c-brand-next: #e06f3d;
  }

  45% {
    --vp-c-brand-prev: #e160b3;
    --vp-c-brand-dark: #b7378c;
    --vp-c-brand-darker: #8d0068;
    --vp-c-brand-next: #db7336;
  }

  46.25% {
    --vp-c-brand-prev: #e65eab;
    --vp-c-brand-dark: #bb3485;
    --vp-c-brand-darker: #910060;
    --vp-c-brand-next: #d77630;
  }

  47.5% {
    --vp-c-brand-prev: #e95ca2;
    --vp-c-brand-dark: #be317d;
    --vp-c-brand-darker: #940059;
    --vp-c-brand-next: #d17a2a;
  }

  48.75% {
    --vp-c-brand-prev: #ed5a9a;
    --vp-c-brand-dark: #c12f75;
    --vp-c-brand-darker: #970052;
    --vp-c-brand-next: #cc7d24;
  }

  50% {
    --vp-c-brand-prev: #ef5992;
    --vp-c-brand-dark: #c32d6d;
    --vp-c-brand-darker: #98004b;
    --vp-c-brand-next: #c6811e;
  }

  51.25% {
    --vp-c-brand-prev: #f15989;
    --vp-c-brand-dark: #c52d65;
    --vp-c-brand-darker: #9a0043;
    --vp-c-brand-next: #bf8418;
  }

  52.5% {
    --vp-c-brand-prev: #f25981;
    --vp-c-brand-dark: #c52e5e;
    --vp-c-brand-darker: #9a003c;
    --vp-c-brand-next: #b98713;
  }

  53.75% {
    --vp-c-brand-prev: #f25a79;
    --vp-c-brand-dark: #c62f56;
    --vp-c-brand-darker: #9a0035;
    --vp-c-brand-next: #b28a0f;
  }

  55% {
    --vp-c-brand-prev: #f25c71;
    --vp-c-brand-dark: #c5314e;
    --vp-c-brand-darker: #99002e;
    --vp-c-brand-next: #ab8d0c;
  }

  56.25% {
    --vp-c-brand-prev: #f15e69;
    --vp-c-brand-dark: #c43447;
    --vp-c-brand-darker: #980027;
    --vp-c-brand-next: #a3900b;
  }

  57.5% {
    --vp-c-brand-prev: #ef6061;
    --vp-c-brand-dark: #c3373f;
    --vp-c-brand-darker: #970020;
    --vp-c-brand-next: #9c920d;
  }

  58.75% {
    --vp-c-brand-prev: #ed635a;
    --vp-c-brand-dark: #c13b38;
    --vp-c-brand-darker: #940619;
    --vp-c-brand-next: #949510;
  }

  60% {
    --vp-c-brand-prev: #eb6552;
    --vp-c-brand-dark: #be3e31;
    --vp-c-brand-darker: #921111;
    --vp-c-brand-next: #8b9715;
  }

  61.25% {
    --vp-c-brand-prev: #e8694b;
    --vp-c-brand-dark: #bb4229;
    --vp-c-brand-darker: #8f1908;
    --vp-c-brand-next: #83991b;
  }

  62.5% {
    --vp-c-brand-prev: #e46c44;
    --vp-c-brand-dark: #b74622;
    --vp-c-brand-darker: #8c1f00;
    --vp-c-brand-next: #7a9b21;
  }

  63.75% {
    --vp-c-brand-prev: #e06f3d;
    --vp-c-brand-dark: #b44a1a;
    --vp-c-brand-darker: #882500;
    --vp-c-brand-next: #719d27;
  }

  65% {
    --vp-c-brand-prev: #db7336;
    --vp-c-brand-dark: #af4e11;
    --vp-c-brand-darker: #842a00;
    --vp-c-brand-next: #679e2e;
  }

  66.25% {
    --vp-c-brand-prev: #d77630;
    --vp-c-brand-dark: #ab5206;
    --vp-c-brand-darker: #802f00;
    --vp-c-brand-next: #5da035;
  }

  67.5% {
    --vp-c-brand-prev: #d17a2a;
    --vp-c-brand-dark: #a55600;
    --vp-c-brand-darker: #7b3300;
    --vp-c-brand-next: #51a13c;
  }

  68.75% {
    --vp-c-brand-prev: #cc7d24;
    --vp-c-brand-dark: #a05900;
    --vp-c-brand-darker: #773700;
    --vp-c-brand-next: #44a244;
  }

  70% {
    --vp-c-brand-prev: #c6811e;
    --vp-c-brand-dark: #9b5d00;
    --vp-c-brand-darker: #713b00;
    --vp-c-brand-next: #34a44b;
  }

  71.25% {
    --vp-c-brand-prev: #bf8418;
    --vp-c-brand-dark: #956000;
    --vp-c-brand-darker: #6c3e00;
    --vp-c-brand-next: #1ba553;
  }

  72.5% {
    --vp-c-brand-prev: #b98713;
    --vp-c-brand-dark: #8e6300;
    --vp-c-brand-darker: #674100;
    --vp-c-brand-next: #00a65b;
  }

  73.75% {
    --vp-c-brand-prev: #b28a0f;
    --vp-c-brand-dark: #886600;
    --vp-c-brand-darker: #614400;
    --vp-c-brand-next: #00a663;
  }

  75% {
    --vp-c-brand-prev: #ab8d0c;
    --vp-c-brand-dark: #816900;
    --vp-c-brand-darker: #5b4700;
    --vp-c-brand-next: #00a76c;
  }

  76.25% {
    --vp-c-brand-prev: #a3900b;
    --vp-c-brand-dark: #7a6b00;
    --vp-c-brand-darker: #554900;
    --vp-c-brand-next: #00a874;
  }

  77.5% {
    --vp-c-brand-prev: #9c920d;
    --vp-c-brand-dark: #736e00;
    --vp-c-brand-darker: #4e4b00;
    --vp-c-brand-next: #00a87d;
  }

  78.75% {
    --vp-c-brand-prev: #949510;
    --vp-c-brand-dark: #6c7000;
    --vp-c-brand-darker: #474d00;
    --vp-c-brand-next: #00a985;
  }

  80% {
    --vp-c-brand-prev: #8b9715;
    --vp-c-brand-dark: #647200;
    --vp-c-brand-darker: #404f00;
    --vp-c-brand-next: #00a98e;
  }

  81.25% {
    --vp-c-brand-prev: #83991b;
    --vp-c-brand-dark: #5c7400;
    --vp-c-brand-darker: #385100;
    --vp-c-brand-next: #00a996;
  }

  82.5% {
    --vp-c-brand-prev: #7a9b21;
    --vp-c-brand-dark: #537600;
    --vp-c-brand-darker: #2f5200;
    --vp-c-brand-next: #00a99f;
  }

  83.75% {
    --vp-c-brand-prev: #719d27;
    --vp-c-brand-dark: #4a7700;
    --vp-c-brand-darker: #255300;
    --vp-c-brand-next: #00a9a7;
  }

  85% {
    --vp-c-brand-prev: #679e2e;
    --vp-c-brand-dark: #407900;
    --vp-c-brand-darker: #185500;
    --vp-c-brand-next: #00a9b0;
  }

  86.25% {
    --vp-c-brand-prev: #5da035;
    --vp-c-brand-dark: #357a0a;
    --vp-c-brand-darker: #015600;
    --vp-c-brand-next: #00a9b8;
  }

  87.5% {
    --vp-c-brand-prev: #51a13c;
    --vp-c-brand-dark: #277b16;
    --vp-c-brand-darker: #005700;
    --vp-c-brand-next: #00a9c0;
  }

  88.75% {
    --vp-c-brand-prev: #44a244;
    --vp-c-brand-dark: #117c1f;
    --vp-c-brand-darker: #005700;
    --vp-c-brand-next: #00a8c7;
  }

  90% {
    --vp-c-brand-prev: #34a44b;
    --vp-c-brand-dark: #007d28;
    --vp-c-brand-darker: #005801;
    --vp-c-brand-next: #00a8cf;
  }

  91.25% {
    --vp-c-brand-prev: #1ba553;
    --vp-c-brand-dark: #007e30;
    --vp-c-brand-darker: #00590d;
    --vp-c-brand-next: #00a7d5;
  }

  92.5% {
    --vp-c-brand-prev: #00a65b;
    --vp-c-brand-dark: #007f38;
    --vp-c-brand-darker: #005917;
    --vp-c-brand-next: #00a6dc;
  }

  93.75% {
    --vp-c-brand-prev: #00a663;
    --vp-c-brand-dark: #008040;
    --vp-c-brand-darker: #005a20;
    --vp-c-brand-next: #00a6e2;
  }

  95% {
    --vp-c-brand-prev: #00a76c;
    --vp-c-brand-dark: #008049;
    --vp-c-brand-darker: #005b28;
    --vp-c-brand-next: #00a4e7;
  }

  96.25% {
    --vp-c-brand-prev: #00a874;
    --vp-c-brand-dark: #008151;
    --vp-c-brand-darker: #005c30;
    --vp-c-brand-next: #00a3ec;
  }

  97.5% {
    --vp-c-brand-prev: #00a87d;
    --vp-c-brand-dark: #008159;
    --vp-c-brand-darker: #005c37;
    --vp-c-brand-next: #00a2f1;
  }

  98.75% {
    --vp-c-brand-prev: #00a985;
    --vp-c-brand-dark: #008261;
    --vp-c-brand-darker: #005d3f;
    --vp-c-brand-next: #00a0f4;
  }

  to {
    --vp-c-brand-prev: #00a98e;
    --vp-c-brand-dark: #008269;
    --vp-c-brand-darker: #005d47;
    --vp-c-brand-next: #009ff7;
  }
}
